<div id="<%= dom_id clinic %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= clinic.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cnpj:</strong>
    <%= clinic.cnpj %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= clinic.user_id %>
  </div>
</div>
