<div
  data-controller="overlay"
  data-action="click->overlay#close sidebar:open@window->overlay#open sidebar:close@window->overlay#close sidebar:toggle@window->overlay#toggle"
  class="fixed z-9 hidden h-screen w-full bg-gray-900/50 lg:hidden"
></div>
