<div
  data-controller="preloader"
  data-preloader-hide-delay-value="250"
  class="fixed left-0 top-0 z-999999 flex h-screen w-screen items-center justify-center bg-white transition-opacity duration-300 ease-in dark:bg-black"
>
  <div
    class="h-16 w-16 animate-spin rounded-full border-4 border-solid border-brand-500 border-t-transparent"
  ></div>
</div>
